*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li a{
    text-decoration: none;
  }
  
  div img{
    display: block;
    width: 100%;
  }
  
  .flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    
  }
  
  header{
    background-color: #0066ff;
    height: 65px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
  }

  .menu h1{
    margin: 10px;
  }
  
  header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    
  }
  
  .list-items li a{
    color: white;
  }
  header .menu{
    justify-content: space-between;
    margin: auto;
  }
  
  .container-black{
    background-color: white;
    width: 100%;
    display: flex;
  }
  
  .apresentacao{
    height: auto;
    align-items: center;
    justify-content: space-between;
    color:  black;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .texto-apresentacao h1{
    color: #0066ff;
    font-size: 48px;
    margin-bottom: 10px;
  }

  .texto-apresentacao{
    margin: 10px;
  }

  .banner_apresentacao{
    width: auto;
    height: auto;
    max-width: 800px;
    max-height: 600px;
  }
  
  .btn{
    border:none;
    background-color: #0066ff;
    color: white;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    outline:none;
  }

  .texto-apresentacao a {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    border: 0;
    width: 270px;
    text-decoration: none;
    color: #FFF;
    background-color: #0066ff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-radius: 0.5em;
    box-shadow: 2px 2px 0 2px #003c97;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .texto-apresentacao a:active {
    box-shadow: 0 0 0 0 #003c97,
          inset 4px 4px 4px #003c97;
    transform: translate(6px, 6px);
  }
  .conteinerLevaTopo{
    text-align: center;
    margin: 40px;
  }
  .container-externo{
    background-color: #0066ff;
    width: 100%;
  }
  
  #usabilidade{
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  #usabilidade h2{
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .list-usabilidade{
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .list-usabilidade .item-usabilidade{
    text-align: center;
  }
  
  .item-usabilidade p{
    font-weight: 700;
    font-size: 18px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .item-usabilidade img{
    width: auto;
    margin: auto;
  }

  .levaTopo {
    font-size: 20px;
    border: 1px solid #0066ff ;
    margin-top: 50px;
    padding: 0.5em 1em;
    width: auto;
    text-decoration: none;
    color: #0066ff;
    background-color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
    border-radius: 0.5em;
    box-shadow: 1px 1px 0 1px #003c97;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    font-weight: bold;
    text-align: center;
  }

  .levaTopo:active {
    box-shadow: 0 0 0 0 #003c97,
          inset 4px 4px 4px #003c97;
    transform: translate(6px, 6px);
  }
  
  #suporte{
    flex-direction: column;
    min-height: auto;
    padding-top: 10px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .list-suporte{
    display: flex;
    align-items: center;
  }
  
  .item-suporte{
    flex: 1;
    border: 5px solid #0066ff;
    padding: auto;
    max-width: auto;
    margin: 20px;
    border-radius: 10px;
  }
  
  .item-suporte .btn{
    margin: auto;
    margin-bottom: 20px;
  }

  .chamaAtend{
    text-align: center;
  }

  .item-suporte .btn {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    border: 0;
    width: 270px;
    text-decoration: none;
    color: #FFF;
    background-color: #0066ff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-radius: 0.5em;
    box-shadow: 2px 2px 0 2px #003c97;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .item-suporte .btn:active {
    box-shadow: 0 0 0 0 #003c97,
          inset 4px 4px 4px #003c97;
    transform: translate(6px, 6px);
  }
  
  .item-suporte h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    color:  black;
  }
  
  .item-suporte h3::after{
    content: "";
    background-color: #0066ff;
    width: 100%;
    height: 5px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  .item-suporte ul{
    padding: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  .item-suporte ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color:  black;
    margin: 10px;
  }
  
  .item-suporte ul li::before{
    content: "";
    width: 10px;
    height: 9px;
    background-color: #0066ff;
    margin: 10px;
  }
  
  footer{
    background-color: #0066ff;
    height: 70px;
    display: flex;
    align-items: center;
  }
  
  footer .footer{
    justify-content: center;
    color: white;
  }
  
  /* mobile */
  @media(max-width: 792px){
    header{
        text-align: center;
    }
  
    .menu{
        align-items: center;
    }

    .menu h1{
      margin: auto;
    }
  
    .flex-container{
        flex-direction: column;
        margin: auto;
        
    }
  
    .apresentacao{
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 50px;
    }
  
    .texto-apresentacao{
        width: 90%;
        margin-top: 50px;
    }
  
    .list-usabilidade{
      display: block;
    }
    .item-usabilidade img{
      width: auto;
    }

    .footer{
        text-align: center;
    }
  }