<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doenças Crônias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_pergunta8.css') }}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">
    <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
</head>   
<body style="background-color: white">
    <header>
        <div class="flex-container menu">
            <div><h1>OrqMed</h1></div>
            <ul class="list-items">
                    <li><a href="/">Sair</a></li>
            </ul>
        </div>
    </header> 
        <div class="container">
            <h2 class="pergunta"> Você possuí alguma doença crônica? </h2>
            <p class="legenda">Exemplos: Asma, diabetes, hipertensão, lactante...</p>
            <div>
                <p class="areatexto " id="areatexto"></p>             
                <a href="#" type="button" id="btn-play" class="btn">FALAR</a>  
                <a href="#" type="button" id="btn-stop" class="btn">PARAR</a>
                <a href="/finalizar" class="btnnao">NÃO POSSUO</a>
                <a href="/finalizar" class="btnNext">AVANÇAR</a>
            </div>
        </div>
        
        <footer>
            <div class="flex-container footer">
                <p>&copy; 2022 Tech and Data Solutions</p>
            </div>
        </footer>
  
    <script src="static/js/pergunta8.js"></script>
</body>
</html>